//COLORS
$primary-col-10: hsl(231, 69%, 60%);
$primary-col-20: hsl(0, 94%, 66%);

$neutral-col-10: hsl(229, 8%, 60%);
$neutral-col-20: hsl(229, 31%, 21%);

//FONTS
$font-fam: "Rubik", sans-serif;
$font-base: 18px;
$font-w-10: 400;
$font-w-20: 600;
