@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 8.9375rem;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  100% {
    opacity: 100%;
    transform: translateX(0rem);
  }
}
@keyframes slideDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 31.25rem;
  }
}
@keyframes rotateAngle {
  0% {
    transform: rotate(180deg);
    opacity: 50%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 100%;
  }
}
.inactive {
  display: none !important;
}

.header--active {
  background: hsl(229, 31%, 21%);
  height: 100%;
  opacity: 95%;
}

.input-error {
  transform: translateY(-25px);
  transition: all ease 0.5s;
}
.input-error::after {
  content: "Whoops, make sure it’s an email";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 0.375rem 1.25rem;
  padding-top: 3.25rem;
  font-size: 0.625rem;
  line-height: auto;
  font-weight: 600;
  letter-spacing: 0.015625rem;
  border-radius: 0.3125rem;
  border: none;
  background: hsl(0, 94%, 66%);
  position: absolute;
  color: hsl(0, 0%, 100%);
  font-style: italic;
}

.err-field {
  border: 2px solid hsl(0, 94%, 66%) !important;
}

.btn--active::before {
  content: "";
  display: flex;
  background: hsl(0, 94%, 66%);
  position: absolute;
  width: 8.9375rem;
  height: 0.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 0 auto;
  animation: slideIn 0.5s ease-out;
}

p {
  color: hsl(229, 8%, 60%);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

h1,
button {
  font-weight: 600;
}

a,
button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.socials {
  width: fit-content;
  display: flex;
  gap: 2.5rem;
  align-self: center;
  position: relative;
  bottom: 2.5rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  color: hsl(0, 94%, 66%) !important;
}

ul {
  list-style-type: none;
}

.pattern {
  position: absolute;
  z-index: -1;
  width: 18.03125rem;
  height: 100%;
  background: hsl(231, 69%, 60%);
}
.pattern:first-of-type {
  right: 0;
  border-top-left-radius: 19.78125rem;
  border-bottom-left-radius: 19.78125rem;
}
.pattern:last-of-type {
  left: 0;
  border-top-right-radius: 19.78125rem;
  border-bottom-right-radius: 19.78125rem;
}

header {
  position: absolute;
  padding: 2.5rem 2rem;
  width: 100%;
  z-index: 20;
}
header .header__logo {
  width: 9.3125rem;
}
header .header__logo img {
  width: 100%;
}
header .header__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
header .header__menu ul {
  text-align: center;
  margin-top: 2.5rem;
}
header .header__menu ul li {
  border-top: 1px solid hsl(229, 8%, 60%);
  padding: 1.5625rem 0;
  font-size: 1.25rem;
  line-height: 1.0625rem;
  letter-spacing: 0.144375rem;
  text-transform: uppercase;
}
header .header__menu ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
header .header__menu ul li button {
  border: solid hsl(0, 0%, 100%) 2px;
  border-radius: 0.3125rem;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1rem;
  background: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.0625rem;
  letter-spacing: 0.144375rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .nav__btn button {
  background: none;
  border: none;
}

.hero__content {
  padding-top: 9.0625rem;
}
.hero__content img {
  width: 100%;
  padding: 0;
}
.hero__content article {
  padding: 0 2rem;
  text-align: center;
}
.hero__content article h1 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  letter-spacing: -0.005625rem;
  padding-bottom: 1rem;
}
.hero__content article p {
  letter-spacing: 0;
  padding-bottom: 2rem;
}

.hero__art-btn {
  display: flex;
  gap: 0.875rem;
  align-items: center;
}
.hero__art-btn button {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.75rem;
}
.hero__art-btn button:first-of-type {
  background: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
}
.hero__art-btn button:first-of-type:hover {
  background: none;
  border: solid 2px hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}
.hero__art-btn button:last-of-type {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.hero__art-btn button:last-of-type:hover {
  background: none;
  border: solid 2px hsl(229, 8%, 60%);
  color: hsl(229, 8%, 60%);
}

.features {
  margin: 4.8125rem 2rem;
  margin-top: 8.75rem;
}
.features > article {
  text-align: center;
}
.features > article h1 {
  font-size: 1.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.005rem;
}
.features > article p {
  margin-bottom: 2.5rem;
}
.features ul {
  margin-bottom: 4.5rem;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.features ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid hsl(229, 8%, 60%);
  padding: 1.3125rem;
}
.features ul li button {
  line-height: 1.0625rem;
  letter-spacing: 0.033125rem;
  font-size: 1rem;
  text-transform: capitalize;
  background: none;
  border: none;
  transition: all 0.5s ease-out;
}

.feature {
  animation: fadeIn 1s ease-out;
}
.feature .feature__img {
  margin-bottom: 4.3125rem;
}
.feature article h1 {
  font-size: 1.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.005rem;
}
.feature article p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0;
  margin-bottom: 0.9375rem;
}
.feature button {
  background: hsl(231, 69%, 60%);
  padding: 0.625rem 1.5rem;
  border: none;
  border-radius: 0.3125rem;
  color: hsl(0, 0%, 100%);
}
.feature button:hover {
  background: none;
  border: solid 2px hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

.downloads {
  padding: 0rem 2rem;
  text-align: center;
  margin-bottom: 8.75rem;
}
.downloads > article {
  margin-bottom: 2.5rem;
}
.downloads > article h1 {
  font-size: 1.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.08;
}
.downloads > article p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.download {
  padding: 3.0625rem 0;
  padding-bottom: 1.5rem;
  border-radius: 0.9375rem;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5rem;
}
.download .download__img {
  width: 6.375rem;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.download article h1 {
  font-size: 1.25rem;
  letter-spacing: 0.015625rem;
}
.download article p {
  font-size: 0.9375rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  margin-bottom: 2rem;
}
.download button {
  margin-top: 1.5rem;
  padding: 0.625rem 2.21875rem;
  border: none;
  background: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.3125rem;
}
.download button:hover {
  background: none;
  border: solid 2px hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

.faq {
  padding: 0 2rem;
  margin-bottom: 4rem;
}
.faq > article {
  text-align: center;
  margin-bottom: 4rem;
}
.faq > article h1 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.005rem;
  margin-bottom: 1rem;
}
.faq > article p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0;
}
.faq .accordions {
  margin-bottom: 3rem;
}
.faq > button {
  display: flex;
  border: none;
  padding: 0.625rem 1.5rem;
  background: hsl(231, 69%, 60%);
  border-radius: 0.3125rem;
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin: 0 auto;
}
.faq > button:hover {
  background: none;
  border: solid 2px hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

.accordion {
  overflow-y: hidden;
  border-bottom: solid 1px hsl(229, 8%, 60%);
}
.accordion::-webkit-scrollbar {
  display: none;
}
.accordion .acc__button {
  display: flex;
  justify-content: space-between;
  padding: 1.1875rem 0;
  padding-bottom: 0.75rem;
}
.accordion .acc__button h2 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
}
.accordion .acc__button button {
  stroke: 0.1875rem;
  background: none;
  border: none;
}
.accordion .acc__button button .fa-angle-down {
  color: hsl(231, 69%, 60%);
  animation: rotateAngle 0.5s ease-in;
}
.accordion .acc__button button .fa-angle-up {
  color: hsl(0, 94%, 66%);
  animation: rotateAngle 0.5s ease-in;
}
.accordion .answer {
  margin-top: 0.875rem;
  animation: slideDown 2s ease;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  letter-spacing: 0.00875rem;
  margin-bottom: 1.75rem;
}

.form {
  background: hsl(231, 69%, 60%);
  padding: 3.75rem 2rem;
  padding-bottom: 2.375rem;
}
.form article {
  text-align: center;
  margin-bottom: 2rem;
}
.form article p {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0.28875rem;
  color: hsl(0, 0%, 100%);
}
.form article h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: -0.005rem;
}
.form form > *,
.form form *::before {
  border-radius: 0.3125rem;
  width: 100%;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 0.015625rem;
  border: none;
}
.form form .email-form {
  position: relative;
}
.form form input {
  display: block;
  border-radius: 0.3125rem;
  width: 100%;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 0.015625rem;
  border: none;
  position: relative;
  z-index: 5;
  outline: none;
}
.form form span {
  width: 100%;
  background: hsl(0, 94%, 66%);
  position: absolute;
}
.form form .input-holder {
  width: 100%;
  position: relative;
  height: fit-content;
  padding: 0;
  margin-bottom: 1rem;
}
.form form .input-holder .fa-circle-exclamation {
  font-size: 1.25rem;
  color: hsl(0, 94%, 66%);
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 6;
}
.form form button {
  text-align: center;
  background: hsl(0, 94%, 66%);
  color: hsl(0, 0%, 100%);
}
.form form button:hover {
  background: none;
  border: solid 2px hsl(229, 8%, 60%);
  color: hsl(229, 8%, 60%);
}

footer {
  background: hsl(229, 31%, 21%);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__content {
  max-width: 9.25rem;
  text-align: center;
}
footer .footer__content .footer-logo {
  margin-bottom: 2.4375rem;
}
footer .footer__content .socials {
  position: static;
  margin: 0 auto;
}
footer .footer__content ul {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
footer .footer__content ul a {
  color: hsl(0, 0%, 100%);
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  letter-spacing: 0.108125rem;
}
footer .attribution {
  padding: 0.625rem 0;
  margin-top: 1.25rem;
  text-align: center;
  width: 100%;
  border-top: 1px solid hsl(229, 8%, 60%);
}
footer .attribution a {
  color: hsl(0, 94%, 66%);
}

@media (min-width: 500px) {
  .btn--active::before {
    width: 15.1875rem;
  }
  @keyframes slideIn {
    0% {
      width: 0;
    }
    100% {
      width: 15.1875rem;
    }
  }
  header {
    top: 0;
  }
  .hero__content {
    padding: 0 3.125rem;
    padding-top: 9.0625rem;
    margin-bottom: 8.75rem;
  }
  .features {
    text-align: center;
    padding: 0 2.5rem;
  }
  .downloads {
    margin: 0 1.25rem;
    margin-bottom: 8.75rem;
  }
  .downloads > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
  }
  .downloads > div .download button {
    padding: 0.625rem;
  }
  .downloads > div .download:last-of-type {
    transform: translateX(50%);
  }
  .faq {
    max-width: 33.75rem;
    margin: 0 auto;
    margin-bottom: 9.375rem;
  }
  .form {
    padding-top: 3.625rem;
    padding-bottom: 4.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }
  .form > * {
    max-width: 28.25rem;
  }
  .form article {
    margin: 0;
  }
  .form article h2 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .form .email-form {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  .form input {
    width: 100%;
    padding: 0.625rem 1.5rem;
  }
  .form .input-holder {
    margin-bottom: 0;
  }
  .form button {
    max-width: 8.5rem;
    padding: 0.625rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.75rem;
    letter-spacing: 0.015625rem;
    height: fit-content;
  }
}
@media (min-width: 700px) {
  .hero__content article h1 {
    font-size: 3rem;
    line-height: 3.25rem;
    letter-spacing: -0.009375rem;
  }
  .hero__content article p {
    font-size: 1.125rem;
  }
  .downloads {
    margin: 0 5rem;
    margin-bottom: 8.75rem;
  }
  footer .footer__content {
    display: flex;
    max-width: fit-content;
    justify-self: center;
    align-items: center;
  }
  footer .footer__content .footer-logo {
    margin-bottom: 0;
    margin-right: 1.875rem;
  }
  footer .footer__content ul {
    flex-direction: row;
    margin: 0;
    gap: auto;
    margin-right: 3.125rem;
  }
}
@media (min-width: 850px) {
  header {
    padding: 2.5rem 6.25rem;
    padding-bottom: 0;
  }
  .hero__content {
    padding-left: 9.375rem;
    padding-right: 9.375rem;
  }
  .features {
    padding: 0 6.25rem;
  }
  footer {
    padding: 2.5rem;
  }
}
@media (min-width: 1000px) {
  nav .nav__btn {
    display: none;
  }
  nav .header__logo {
    width: 9.3125rem;
  }
  header {
    position: static;
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 69rem;
    padding: 3rem 3.4375rem;
    padding-bottom: 0;
  }
  header .header__menu {
    display: flex !important;
    flex-direction: row;
    align-self: center;
  }
  header .header__menu ul {
    display: flex;
    gap: 2.75rem;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  header .header__menu ul li {
    border-top: none;
  }
  header .header__menu ul li a {
    color: unset;
    font-size: 0.8125rem;
  }
  header .header__menu ul li button {
    background: hsl(0, 94%, 66%);
    font-size: 0.8125rem;
  }
  header .header__menu ul li button:hover {
    background: none;
    border: solid 2px hsl(229, 8%, 60%);
    color: hsl(229, 8%, 60%);
  }
  header .header__menu .socials {
    display: none;
  }
  .hero__content {
    padding: 0 3.4375rem;
    display: flex;
    max-width: 73.4375rem;
    justify-self: center;
    padding-top: 0;
    margin-top: 6.75rem;
    margin-bottom: 11.25rem;
    gap: auto;
  }
  .hero__content .hero__img {
    order: 2;
    max-width: 50%;
  }
  .hero__content article {
    order: 1;
    text-align: unset;
    padding: 0;
    margin-top: 2.4375rem;
    max-width: 50%;
  }
  .hero__art-btn {
    width: 21.4375rem;
    gap: 1rem;
  }
  .features {
    max-width: 69.125rem;
    margin: 0 auto;
    margin-bottom: 14.875rem;
    padding: 0 3.4375rem;
  }
  .features > article {
    max-width: 33.75rem;
    margin: auto;
    margin-bottom: 4.5rem;
  }
  .features > article h1 {
    font-size: 2rem;
    line-height: 3.25rem;
    letter-spacing: -0.00625rem;
  }
  .features > article p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0;
  }
  .features ul {
    display: flex;
    justify-content: center;
    max-width: 45.625rem;
    margin: 0 auto;
    margin-bottom: 4.5rem;
  }
  .features ul li {
    border: none;
    padding: 1.6875rem 2.828125rem;
  }
  .features .feature {
    display: flex;
    justify-self: center;
    gap: 7.8125rem;
    text-align: left;
  }
  .features .feature .feature__img {
    max-width: 100%;
  }
  .features .feature article {
    max-width: 27.8125rem;
    text-align: unset;
    margin: 3.5625rem 0;
  }
  .features .feature article h1 {
    font-size: 2rem;
    line-height: 3.25rem;
    letter-spacing: -0.00625rem;
  }
  .features .feature article p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }
  .downloads {
    max-width: 56.9375rem;
    margin: 0 auto;
    margin-bottom: 9.3125rem;
    overflow: visible;
    padding-bottom: 5rem;
  }
  .downloads > article {
    max-width: 33.8125rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .downloads > article h1 {
    font-size: 2rem;
    line-height: 3.25rem;
    letter-spacing: -0.00625rem;
  }
  .downloads > article p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0;
  }
  .downloads > div {
    display: flex;
    gap: 2.125rem;
  }
  .downloads > div .download:nth-of-type(2) {
    transform: translateY(2.5rem);
  }
  .downloads > div .download:nth-of-type(3) {
    transform: translateY(5rem);
  }
  footer .footer__content .footer-logo {
    margin-bottom: 0;
    margin-right: 4.0625rem;
  }
  footer .footer__content ul {
    flex-direction: row;
    margin: 0;
    gap: 2.75rem;
    margin-right: 6.25rem;
  }
}
@media (min-width: 1200px) {
  header {
    position: static;
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 69rem;
    padding: 3rem 0;
    padding-bottom: 0;
  }
  header .header__menu {
    display: flex !important;
    flex-direction: row;
    align-self: center;
  }
  .hero__content {
    display: flex;
    width: 73.4375rem;
    justify-self: center;
    padding-top: 0;
    margin-top: 6.75rem;
    margin-bottom: 11.25rem;
    gap: 4.0625rem;
  }
  .features {
    max-width: 69.125rem;
    margin: 0 auto;
    margin-bottom: 14.875rem;
  }
  .features .feature {
    display: flex;
    justify-self: center;
    gap: 7.8125rem;
  }
  footer .footer__content ul {
    flex-direction: row;
    margin: 0;
    gap: 2.75rem;
    margin-right: 32.1875rem;
  }
}
